header{
    background-image: url(tt/OIP\ \(3\).jpg);
    background-repeat: repeat;
    width: 100%;
 }
footer{
    background-color: rgba(0, 0, 0, 0.886);
    height: 250px;
}
main{
    margin-top: 19px;
    background-color: rgba(0, 0, 0, 0.068);
}
.contener4{
    display: block;
}
.vv{
    font-size: 50px;
}
h1{
    color: rgb(255, 255, 255);
    font-size:  85px;
    border-top-right-radius: 57%;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: rgb(255, 136, 0);
    text-align: center;
}
.vk{
    display: flex;
}
address{
    border-radius: 14%;
    color: rgb(220, 168, 24);
    padding: 10px 9% 10px 9%;
    letter-spacing: 12px;
    padding: 12px;
}
a{
    color: rgb(255, 255, 255);
    background-color:color rgba(131, 240, 16, 0.847);
    padding-top: 7px;
    text-decoration: none;
    padding: 27px;
    margin-bottom: 13px;
    font-weight: bolder;
    font-size: 23px;

}
article{
    margin: 24px 34px 24px 34px;
}
table{
    margin-left: 20%;
    background-color: rgba(240, 240, 175, 0.495);
    width: 550px;
    height: 200px;
}
h4{
    color: black;
    font-family: 'Times New Roman', Times, serif ;
}
.nav{
 display: flex;
}
.oo{
    color: rgb(255, 255, 255);
}

td:nth-child(2){
   background-color: rgba(78, 254, 14, 0.203);
}
td:nth-child(2):hover{
    background-color: rgb(106, 255, 0);
}
.b1{
    display:flex;
    color: rgb(247, 247, 247);
}
.social{
    text-align: center;
}
.a1{
    text-align: center;
}
.a2{
    float: center;
    width: 15px;
    height: 19px;
}
i{
    float: center;
}
.info{
    display: flex;
}

p{
    border-width: 86px;
    color: black;
}
.info{
    background-image: url();
}
.DEVIS{
    background-image: url(tt/kk.jpg);
    background-repeat: none;
    text-align: center;
}


body{
    font-family: 'Courier New', Courier, monospace;
    float: center;
    margin: 0%;
    padding: 0%;
}
article{
    color: rgb(0, 0, 0);
}

.menu1{
    display:flex;
    justify-items: center;

}
img{
    border-radius: 29px;
}
.logo{
    margin: 20px;
    padding: 20px;
    text-align: center;

}

.qq{
    margin-top: 34px;
}
.logo:hover{
border-radius: 65%;
border-color: blue;
transition: 2s;
background-color: rgba(187, 187, 187, 0.114);
}
.menu2{
    display: flex;
    text-align: center;
}
.menu3{
    display: flex;
}
.menu4{
    display: flex;
}
label,legend,p{
    color: rgb(16, 16, 16);
}
table{
    position: relative;
}
.v1{
    text-align: CENTER;
}




.oo{
    background-color: rgba(0, 0, 0, 0.123);
}

.contener{
    display: flex;
}
.g{
    color: rgb(255, 247, 207);
}

.contener1{
    display: flex;
}
.contener3{
    display: flex;
}
@media(max-width:700px){
   .info{
    display: block;
   }
}
@media(max-width:400px){
    .nav{
        display: inline;
    }
}
@media(mIN-width:400px){
    a{
        margin-left: 9%;
        margin-right: 9%;
    }
}