header{
   border-top-right-radius:23% ; 
   margin-bottom: 0;
}
footer{
    background-color: rgb(216, 216, 25);
    border-radius: 12%;
}
.social{
    float: right;
}
h1{
    color: rgb(220, 168, 24);
    background-color: rgb(162, 222, 11);
    border-radius: 87%;
    margin-right: 50%;
    font-size:  39px;
}
h2{
    color: rgb(247, 146, 13);
    text-align: center;
}
main{
    background-color: rgba(250, 250, 250, 0.212);
}
a{
    color: rgb(215, 38, 38);
    background-color:color rgba(131, 240, 16, 0.847);
    padding-bottom:4px;
    padding-top: 7px;
    text-decoration: none;
    margin: 42px;
    padding: 12px;
    margin-bottom: 13px;
    font-weight: bolder;
    font-size: 23px;
    
}
body{
    background-image: url(OIP\ \(3\).jpg);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: inline;
}
i:hover{
    background-color: rgb(0, 208, 255);
}
.nav{
    display:inline-flex;
   text-align: left;
}
a:hover{
    border-radius: 67%;
   background-color: rgba(18, 19, 18, 0.548);
   
}
.A1{
    border: double;
    border-radius: 0%;
   
}
.pay{
    
    text-align: center;
    background-image: url(FF.webp);
    border:dashed ;
    margin-left: 172px;
    margin-right: 172px;
    padding-bottom: 73px;
    border-radius: 15%;
}
.p1{
    display:grid;
    align-items: center;
    
}
Textarea{
    width: 300px;
    height: 130px;
    border: double;
}
p{
    color: rgb(247, 248, 249);
}
h3{
    color: rgb(255, 255, 255);
}