header{
   border-top-right-radius:23% ; 
   margin-bottom: 0;
   background-repeat: no-repeat;
}
footer{
    background-color: rgb(216, 216, 25);
    border-radius: 12%;
}
.social{
    float: right;
}
h1{
    color: rgb(255, 255, 255);
    margin-right: 50%;
    font-size:  59px;
    float: center;
}
h2{
    color: rgb(247, 146, 13);
    text-align: center;
}
main{
    background-color: rgba(43, 42, 40, 0.16);
}
a{
    color: rgb(255, 255, 255);
    padding-bottom:4px;
    padding-top: 7px;
    text-decoration: none;
    margin: 42px;
    padding: 12px;
    margin-bottom: 13px;
    font-weight: bolder;
    font-size: 23px;
    text-align: left;
    
}
body{
    background-image: url(tt/OIP\ \(3\).jpg);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: flex;
}
i:hover{
    background-color: rgb(0, 208, 255);
}
.nav{
    display:inline-flex;
   text-align: left;
}
a:hover{
    color: rgb(203, 203, 203);
}
.A1{
    border: double;
    border-radius: 0%;
   
}
.pay{
    background-color: rgba(0, 0, 0, 0.269);
    text-align: center;
    border:dashed ;
    padding-bottom: 73px;
    border-radius: 15%;
}
.p1{
    display:grid;
    align-items: center;
    
}
Textarea{
    width: 300px,12%;;
    height: 130px;
    border: double;
}
p{
    color: rgb(247, 248, 249);
}
h3{
    color: rgb(255, 255, 255);
}
.p11{
    width: 98%;
}